*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.heading1 {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading3 {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.main-page-header {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 38px;
}

.header-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.heading {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/header-bg-pic.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    opacity: 0.6;
    letter-spacing: 0.05em;
}

.paragraph-project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.heading-paragraph {
    width: 425px;
}

.heading-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.what-we-do {
    padding-top: 64px;
}

.what-we-do-articles-container {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.what-we-do-articles {
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.what-we-do-articles-img {
    align-self: center;
    margin-bottom: 51px;
}

.article-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 24px;
}

.learn-more-arrow {
    margin-left: 24px;
}

.project {
    margin-bottom: 112px;
}

.project-img {
    width: 100%;
}

.project-text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project-text-left {
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}

.project-item {
    position: relative;
    flex-grow: 1;
}

.project-item-margin {
    margin-right: 32px;
}

.contact-us-page {
    display: flex;
    justify-content: space-between;
}

.form_input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.map {
    width: 100%;
}

.footer {
    background-color: #316099;
}

.footer-contact_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 95px;
}

.footer-wrapper {
   width: 495px;
}

.footer-contact_us-heading3 {
    max-width: 340px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.footer-paragraph {
    color: #FFFFFF;
}

.footer-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

.footer-division-line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer-contacts {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;    
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    list-style-type: none;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
}

.copyright {
    color: #FFFFFF;
    opacity: 0.4;
    padding-bottom: 64px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .heading {
        background-position: right 240px;
    }

    .what-we-do-articles-container {
        flex-direction: column;
        align-items: center;
    }

    .what-we-do-articles {
        margin-bottom: 32px;
    }

    .footer {
        padding: 0 92px;
    }

    .footer-contact_us {
        padding-top: 47px;
        padding-bottom: 64px;
    }

    .footer-wrapper {
        width: 336px;
    }

    .footer-button {
        padding: 10px 30px;
    }

    .footer-contacts {
        flex-direction: column;
    }

    .footer-contacts-item-margin {
        margin-bottom: 25px;
    }
}

@media (max-width: 667px) {
    .main-page-header {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu {
        padding-top: 24px;
    }

    .heading {
        padding-top: 36px;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading1 {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 32px;
    }

    .heading-paragraph {
        width: 100%;
        text-align: center;
    }

    .heading-button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do-articles-container {
        padding-top: 32px;
    }

    .what-we-do-articles {
        width: 100%;
    }

    .paragraph-project {
        width: 100%;
    }

    .project {
        margin-bottom: 64px;
    }

    .project-parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project-item-margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project-text-left {
      left: 16px;
      top: 16px;  
    }

    .footer {
        padding: 0;
    }

    .footer-contact_us {
        padding-top: 18px;
        padding-bottom: 41px;
        flex-direction: column;
    }

    .footer-wrapper {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact_us-heading3 {
        font-weight: normal;
        text-align: center;
    }

    .footer-paragraph {
        text-align: center;
    }

    .footer-contacts {
        line-height: 19px;
        padding-top: 32px;
        padding-bottom: 37px;
    }

    .footer-contacts-item-margin {
        margin-bottom: 17px;
    }

    .copyright {
        padding-bottom: 32px;
    }
}